* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;
}

.box-sm {
  position: relative;
  padding: 80px;
  background-color: lightblue;
}

.box-md {
  position: relative;
  padding: 50px;
  background-color: red;

}

.box-lg {
  width: 500px;
  padding: 75px 150px;
  position: relative;
  margin: 100px auto;
  background-color: yellow;
}

.border{
border: 10px solid black;
}


#yellow {


}

#red {


}

#blue {

}
